################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FuturesAnalyzer/Results
/FuturesAnalyzer/obj
/FuturesAnalyzer/bin