################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FuturesAnalyzer/obj
/FuturesAnalyzer/bin
/.vs/FuturesAnalyzer/v15/Server/sqlite3
/.vs/FuturesAnalyzer/v15/sqlite3/db.lock
/.vs/FuturesAnalyzer/v15/sqlite3/storage.ide-shm
/.vs/FuturesAnalyzer/v15/sqlite3/storage.ide-wal
/.vs/FuturesAnalyzer/v15/sqlite3/storage.ide
/.vs/FuturesAnalyzer/v15/.suo
