@model FuturesAnalyzer.ViewModels.ReportSettingViewModel
@{
    ViewData["Title"] = "Home Page";
}
<form id="form" asp-action="Report" method="post" class="form-inline" style="margin-top: 20px;">
    <div class="form-group form-inline">
        <label asp-for="TransactionFeeRate">交易手续费率</label>
        <input type="number" min="0" step="0.0001" asp-for="TransactionFeeRate" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="StopLossCriteria">止损点</label>
        <input type="number" min="0" step="0.01" asp-for="StopLossCriteria" class="form-control"/>
    </div>
    <div class="form-group form-inline">
        <label asp-for="StopProfitCriteria">止盈点</label>
        <input type="number" min="0" step="0.1" asp-for="StopProfitCriteria" class="form-control"/>
    </div>
    <div class="form-group form-inline">
        <label asp-for="StartProfitCriteria">起盈点</label>
        <input type="number" min="0" step="0.01" asp-for="StartProfitCriteria" class="form-control"/>
    </div>
    <div class="form-group form-inline">
        <label asp-for="OpenCriteria">开仓点</label>
        <input type="number" min="0" step="0.01" asp-for="OpenCriteria" class="form-control"/>
    </div>
    <div class="checkbox">
        <label asp-for="FollowTrend">
            <input asp-for="FollowTrend" type="checkbox"> 开仓顺势
        </label>
    </div>
    <select asp-for="SelectedProductName" class="form-control">
        <option>铝</option>
        <option>橡胶</option>
        <option>锌</option>
        <option>铜</option>
        <option>螺纹钢</option>
    </select>
    <div class="form-group form-inline">
        <label asp-for="OpenCriteria">起始日期</label>
        <input type="date" asp-for="StartDate" class="form-control" />
    </div>
    <div class="form-group form-inline">
        <label asp-for="OpenCriteria">结束日期</label>
        <input type="date" asp-for="EndDate" class="form-control" />
    </div>
    <button id="analyze" type="submit" class="btn btn-primary">分析</button>
</form>  
<div id="chart"></div>
@section scripts
{
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script>
        $().ready(function () {
            var d = new Date();
            d.setDate(d.getDate() - 1);
            $('#EndDate').val(toDateFormat(d));
            d.setDate(d.getDate() - 365);
            $('#StartDate').val(toDateFormat(d));
        });
        function toDateFormat(date) {
            var month = date.getMonth();
            var fullMonth = month >= 10 ? month : '0' + month;
            var day = date.getDate();
            var fullDay = day >= 10 ? day : '0' + day;
            return date.getFullYear() + "-" + fullMonth + "-" + fullDay;
        }

        $('#form').submit(function (event) {
            event.preventDefault();
            var $inputs = $('#form input');
            var values = {};
            $inputs.each(function () {
                values[this.name] = $(this).val();
            });
            values['SelectedProductName'] = $('#SelectedProductName').val();
            values['FollowTrend'] = $('FollowTrend').attr('checked');
            $.post($('#form').attr('action'), values, function (data) {
                var categories = [];
                var contracts = [];
                var balances = [];
                $.each(data, function(index, value) {
                    categories.push(value.Date);
                    contracts.push(value.Contract ? value.Contract.Price * value.Contract.Direction : 0);
                    balances.push(value.Balance);
                });
                $('#chart').highcharts({
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: values['SelectedProductName']
                    },
                    xAxis: [{
                        categories: categories,
                        crosshair: true
                    }],
                    yAxis: [{ // Primary yAxis
                        labels: {
                            format: '{value}元',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: '价格',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
                    }, { // Secondary yAxis
                        title: {
                            text: '盈亏',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value}元',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        opposite: true
                    }],
                    tooltip: {
                        shared: true
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'left',
                        x: 120,
                        verticalAlign: 'top',
                        y: 100,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                    },
                    series: [{
                        name: '价格',
                        type: 'column',
                        yAxis: 1,
                        data: contracts,
                        tooltip: {
                            valueSuffix: '元'
                        }

                    }, {
                        name: '盈亏',
                        type: 'spline',
                        data: balances,
                        tooltip: {
                            valueSuffix: '元'
                        }
                    }]
                });
            });
        });
    </script>
}