@model FuturesAnalyzer.ViewModels.ReportSettingViewModel
@{
    ViewData["Title"] = "Futures Analyzer";
}
<form id="form" asp-action="Report" method="post" class="form-inline" style="margin-top: 20px;">
    <div class="form-group form-inline">
        <label asp-for="TransactionFeeRate">交易手续费率</label>
        <input type="number" min="0" step="0.000001" asp-for="TransactionFeeRate" class="form-control" />
    </div>
    <div class="form-group form-inline">
        <label asp-for="MinimumPriceUnit">最小价格单位</label>
        <input type="number" min="0" step="0.01" asp-for="MinimumPriceUnit" class="form-control" />
    </div>
    <div class="form-group form-inline">
        <label for="BudgetFactor">成本扩大系数</label>
        <input type="number" min="0" step="0.01" id="BudgetFactor" class="form-control" value="1" required />
    </div>
    <div class="checkbox">
        <label for="UseBudgetFactor">
            <input id="UseBudgetFactor" type="checkbox"> 使用成本扩大系数
        </label>
    </div>
    <div class="form-group form-inline">
        <label for="BondPercentage">最低保证金比例</label>
        <input type="number" min="0" step="1" id="BondPercentage" class="form-control" value="13" required />
    </div>
    @*<div class="form-group">
            <label asp-for="StopLossUnit">止损份数</label>
            <input type="number" min="0" step="1" asp-for="StopLossUnit" class="form-control" />
        </div>*@
    <div class="form-group">
        <label asp-for="StopLossCriteria">止损点</label>
        <input type="number" min="0" step="0.001" asp-for="StopLossCriteria" class="form-control" />
    </div>
    <div class="form-group form-inline">
        <label asp-for="StopProfitCriteria">止盈点</label>
        <input type="number" min="0" step="0.01" asp-for="StopProfitCriteria" class="form-control" />
    </div>
    <div class="form-group form-inline">
        <label asp-for="StartProfitCriteria">起盈点</label>
        <input type="number" min="0" step="0.001" asp-for="StartProfitCriteria" class="form-control" />
    </div>
    @*<div class="form-group form-inline">
            <label asp-for="StartProfitCriteriaForMultiUnits">起盈点（多份）</label>
            <input type="number" min="0" step="0.01" asp-for="StartProfitCriteriaForMultiUnits" class="form-control" />
        </div>
        <div class="form-group form-inline">
            <label asp-for="AppendUnitCountAfterProfitStart">起盈点后加仓份数</label>
            <input type="number" min="0" step="1" asp-for="AppendUnitCountAfterProfitStart" class="form-control" />
        </div>*@
    <div class="checkbox hidden">
        <label asp-for="NeverEnterAmbiguousState">
            <input asp-for="NeverEnterAmbiguousState" type="checkbox"> 禁用观望期
        </label>
    </div>
    <div class="checkbox">
        <label asp-for="NotUseClosePrice">
            <input asp-for="NotUseClosePrice" type="checkbox"> 使用日最大最小值
        </label>
    </div>
    <div class="form-group form-inline">
        <label asp-for="OpenCriteria">开仓点</label>
        <input type="number" min="0" step="0.001" asp-for="OpenCriteria" class="form-control" />
    </div>
    <div class="checkbox">
        <label asp-for="FollowTrend">
            <input asp-for="FollowTrend" type="checkbox"> 开仓顺势
        </label>
    </div>
    <select asp-for="SelectedProductName" class="form-control">
        <option>热轧卷板</option>
        <option>螺纹钢</option>
        <option>焦炭</option>
        <option>焦煤</option>
        <option>镍</option>
        <option>菜粕</option>
        <option>PP</option>
        <option value="热轧卷板" data-setting="热轧卷板20170307-20170616">热轧卷板20170307-20170616</option>
        <option value="焦炭" data-setting="焦炭20170207-20170601">焦炭20170207-20170601</option>
        <option value="焦煤" data-setting="焦煤20161227-20170620">焦煤20161227-20170620</option>
        @*<option>热轧卷板1610</option>
            <option>热轧卷板1605</option>
            <option>螺纹钢1605</option>
            <option>焦炭1605</option>
            <option>焦煤1605</option>*@
        <option>铝</option>
        <option>黄金</option>
        <option>锌</option>
        <option>铜</option>
        <option>铅</option>
        <option>白银</option>
        <option>沥青</option>
        <option>锡</option>
        <option>菜籽</option>
        <option>硅铁</option>
        <option>锰硅</option>
        <option>强麦</option>
        <option>橡胶</option>
        <option>玻璃</option>
        <option>醇</option>
        <option>菜油</option>
        <option>白糖</option>
        <option>PTA</option>
        <option>动力煤</option>
        <option>豆一</option>
        <option>玉米</option>
        <option>玉米淀粉</option>
        <option>铁矿石</option>
        <option>鸡蛋</option>
        <option>豆粕</option>
        <option>棕榈</option>
        <option>PVC</option>
        <option>豆油</option>
    </select>
    <div class="form-group form-inline">
        <label asp-for="StartDate">起始日期</label>
        <input type="date" asp-for="StartDate" class="form-control" />
    </div>
    <div class="form-group form-inline">
        <label asp-for="EndDate">结束日期</label>
        <input type="date" asp-for="EndDate" class="form-control" />
    </div>
    <div class="checkbox hidden">
        <label asp-for="UseAverageMarketState">
            <input asp-for="UseAverageMarketState" type="checkbox"> 使用五日均线
        </label>
    </div>
    <div class="checkbox hidden">
        <label asp-for="CloseAfterProfit">
            <input asp-for="CloseAfterProfit" type="checkbox"> 止盈后平仓
        </label>
    </div>
    <div class="checkbox">
        <label asp-for="OnlyUseClosePrice">
            <input asp-for="OnlyUseClosePrice" type="checkbox"> 止盈仅看收盘价
        </label>
    </div>
    <div class="checkbox hidden">
        <label asp-for="UseCrossStarStrategy">
            <input asp-for="UseCrossStarStrategy" type="checkbox"> 十字星策略
        </label>
    </div>
    <div class="checkbox hidden">
        <label asp-for="UseInternalProfit">
            <input asp-for="UseInternalProfit" type="checkbox"> 到达起盈点临时止盈
        </label>
    </div>
    <div class="checkbox">
        <label asp-for="CloseAmbiguousStateToday">
            <input asp-for="CloseAmbiguousStateToday" type="checkbox"> 到达两端点平今
        </label>
    </div>
    <button id="analyze" type="submit" class="btn btn-primary">分析</button>
    <button id="optimize" class="btn btn-default">优化</button>
</form>
<div id="results">
    <div id="chart"></div>
    <label id="summary"></label>
    <div id="percentageChart"></div>
</div>
@section scripts
{
    <script src="~/lib/highcharts/highcharts.js"></script>
    <script>
        $().ready(function() {
            var d = new Date();
            d.setDate(d.getDate());
            $('#EndDate').val(toDateFormat(d));
            d.setDate(d.getDate() - 365);
            $('#StartDate').val('2000-01-01');

            setDefaultSettings();
        });

        function toDateFormat(date) {
            var month = date.getMonth() + 1;
            var fullMonth = month >= 10 ? month : '0' + month;
            var day = date.getDate();
            var fullDay = day >= 10 ? day : '0' + day;
            return date.getFullYear() + "-" + fullMonth + "-" + fullDay;
        }

        $('#optimize').click(function(event) {
            event.preventDefault();
            $("#results").hide();
            var $inputs = $('#form input');
            var values = {};
            $inputs.each(function() {
                values[this.name] = $(this).val();
            });
            values['SelectedProductName'] = $('#SelectedProductName').val();
            values['NeverEnterAmbiguousState'] = $('#NeverEnterAmbiguousState')[0].checked;
            values['NotUseClosePrice'] = $('#NotUseClosePrice')[0].checked;
            values['FollowTrend'] = $('#FollowTrend')[0].checked;
            values['UseAverageMarketState'] = $('#UseAverageMarketState')[0].checked;
            values['CloseAfterProfit'] = $('#CloseAfterProfit')[0].checked;
            values['OnlyUseClosePrice'] = $('#OnlyUseClosePrice')[0].checked;
            values['UseCrossStarStrategy'] = $('#UseCrossStarStrategy')[0].checked;
            values['UseInternalProfit'] = $('#UseInternalProfit')[0].checked;
            values['CloseAmbiguousStateToday'] = $('#CloseAmbiguousStateToday')[0].checked;
            $.post("home/optimize",
                values,
                function(data) {
                    var bestSettings = data.bestSettings;
                    $("#StopLossCriteria").val(bestSettings.stopLossCriteria);
                    $("#StartProfitCriteria").val(bestSettings.startProfitCriteria);
                    $("#StopProfitCriteria").val(bestSettings.stopProfitCriteria);
                    $("#OpenCriteria").val(bestSettings.openCriteria);
                    $('#FollowTrend').prop('checked', bestSettings.followTrend);
                    $('#NeverEnterAmbiguousState').prop('checked', bestSettings.neverEnterAmbiguousState);
                    $("#results").show();
                    showResult(data);
                });
        });

        $('#form').submit(function(event) {
            event.preventDefault();
            $("#results").hide();
            var $inputs = $('#form input');
            var values = {};
            $inputs.each(function() {
                values[this.name] = $(this).val();
            });
            values['SelectedProductName'] = $('#SelectedProductName').val();
            values['NeverEnterAmbiguousState'] = $('#NeverEnterAmbiguousState')[0].checked;
            values['NotUseClosePrice'] = $('#NotUseClosePrice')[0].checked;
            values['FollowTrend'] = $('#FollowTrend')[0].checked;
            values['UseAverageMarketState'] = $('#UseAverageMarketState')[0].checked;
            values['CloseAfterProfit'] = $('#CloseAfterProfit')[0].checked;
            values['OnlyUseClosePrice'] = $('#OnlyUseClosePrice')[0].checked;
            values['UseCrossStarStrategy'] = $('#UseCrossStarStrategy')[0].checked;
            values['UseInternalProfit'] = $('#UseInternalProfit')[0].checked;
            values['CloseAmbiguousStateToday'] = $('#CloseAmbiguousStateToday')[0].checked;
            $.post($('#form').attr('action'), values, function(data) {
                $("#results").show();
                showResult(data);
            });
        });

        function showResult(data) {
            var report = data.report;
            var categories = [];
            var contracts = [];
            var balances = [];
            var prices = [];
            var maxSingleDelta = 0;
            var maxSingleDeltaDate = new Date();
            var minSingleDelta = 0;
            var minSingleDeltaDate = new Date();
            var maxSinglePercentageDelta = 0;
            var maxSinglePercentageDeltaDate = new Date();
            var minSinglePercentageDelta = 0;
            var minSinglePercentageDeltaDate = new Date();
            var minBalance = 0;
            var maxBalance = 0;
            var lastBalance = 0;
            var annualProfits = {};
            var lastYearEndBalance = 0;
            var lastYearStartPrice = 0;
            var yesterdayYear = 0;
            var endBalance = 0;
            var averageBalance = 0;
            var maxUnit = 1;
            var profitCount = 0;
            var lossCount = 0;
            var percentageBalance = 0;
            var lastYearPercentageBalance = 0;
            var profitFactor = 100 / $("#BondPercentage").val();
            var dailyPercentageBalance = [];
            var dailyBudgetFactor = [];
            var dailyBudgetFactorLevel = [];
            var budgetFactor = 1;
            var budgetFactorLevel = 0;
            var budgetChangeFactor = $("#UseBudgetFactor").prop("checked") ? $("#BudgetFactor").val() : 1;
            var maxLossRangeStartPoint = 0;
            var maxLossRange = 0;
            var maxLossRangeStartDate = new Date();
            var maxLossRangeEndDate = new Date();
            var longestProfitDays = 0;
            var longestProfitDaysStartDate = new Date();
            var longestProfitDaysEndDate = new Date();
            var longestLossDays = 0;
            var longestLossDaysStartDate = new Date();
            var longestLossDaysEndDate = new Date();
            var currentEmptyDays = 0;
            var longestEmptyDays = 0;
            var longestEmptyDaysStartDate = new Date();
            var longestEmptyDaysEndDate = new Date();
            var currentContractDays = 0;
            var totalProfitContractDays = 0;
            var totalLossContractDays = 0;
            var emptyCount = 0;
            if (report.length > 0) {
                lastYearStartPrice = report[0].dailyPrice.closePrice;
                var currentLossRangeStartPoint = 0;
                var currentLossRange = 0;
                var currentLossRangeStartDate = report[0].dailyPrice.date;
                var currentContractDaysStartDate = report[0].dailyPrice.date;
                var currentEmptyDaysStartDate = report[0].dailyPrice.date;
                maxLossRangeStartDate = report[0].dailyPrice.date;
                maxLossRangeEndDate = report[0].dailyPrice.date;
                $.each(report, function(index, value) {
                    categories.push(formatDate(value.dailyPrice.date));
                    prices.push(value.dailyPrice.closePrice);
                    contracts.push(value.contract ? value.contract.price * value.contract.direction * value.contract.unit : 0);
                    if (value.contract && currentEmptyDays > 0) {
                        if (currentEmptyDays >= longestEmptyDays && index > 0) {
                            longestEmptyDays = currentEmptyDays;
                            longestEmptyDaysStartDate = currentEmptyDaysStartDate;
                            longestEmptyDaysEndDate = report[index - 1].dailyPrice.date;
                        }
                        currentEmptyDays = 0;
                    } else {
                        currentEmptyDays = value.contract ? 0 : currentEmptyDays + 1;
                        if (currentEmptyDays === 1) {
                            currentEmptyDaysStartDate = value.dailyPrice.date;
                        }
                    }
                    balances.push(value.balance);
                    var delta = value.balance - lastBalance;
                    if (delta > maxSingleDelta) {
                        maxSingleDelta = delta;
                        maxSingleDeltaDate = value.dailyPrice.date;
                    } else if (delta < minSingleDelta) {
                        minSingleDelta = delta;
                        minSingleDeltaDate = value.dailyPrice.date;
                    }
                    if (index > 0 && report[index - 1].contract) {
                        var percentageDelta = report[index].percentageBalance - report[index - 1].percentageBalance;
                        if (percentageDelta > maxSinglePercentageDelta) {
                            maxSinglePercentageDelta = percentageDelta;
                            maxSinglePercentageDeltaDate = value.dailyPrice.date;
                        } else if (percentageDelta < minSinglePercentageDelta) {
                            minSinglePercentageDelta = percentageDelta;
                            minSinglePercentageDeltaDate = value.dailyPrice.date;
                        }
                        percentageDelta *= budgetFactor;
                        percentageBalance += percentageDelta * profitFactor;
                        if (percentageDelta > 0) {
                            if ((percentageBalance + 1) * 0.8 >= budgetFactor * budgetChangeFactor) {
                                if (budgetChangeFactor !== 1) {
                                    budgetFactorLevel++;
                                }
                                budgetFactor *= budgetChangeFactor;
                            }
                        } else {
                            while ((percentageBalance + 1) * 0.8 < budgetFactor && budgetFactor > 1) {
                                if (budgetChangeFactor !== 1) {
                                    budgetFactorLevel--;
                                }
                                budgetFactor /= budgetChangeFactor;
                            }
                        }

                        if (percentageBalance > currentLossRangeStartPoint) {
                            currentLossRangeStartPoint = percentageBalance;
                            currentLossRangeStartDate = value.dailyPrice.date;
                            currentLossRange = 0;
                        }
                        currentLossRange = currentLossRangeStartPoint - percentageBalance;
                        if (currentLossRange >= maxLossRange) {
                            maxLossRange = currentLossRange;
                            maxLossRangeStartPoint = currentLossRangeStartPoint;
                            maxLossRangeStartDate = currentLossRangeStartDate;
                            maxLossRangeEndDate = value.dailyPrice.date;
                        }
                        if (!report[index].contract) {
                            emptyCount++;
                        }
                    } else if (index === report.length - 1 && report[index].contract) {
                        var percentageDelta = report[index].percentageBalance - report[index - 1].percentageBalance;
                        percentageDelta *= budgetFactor;
                        percentageBalance += percentageDelta * profitFactor;
                        currentLossRange = currentLossRangeStartPoint - percentageBalance;
                        if (currentLossRange >= maxLossRange) {
                            maxLossRange = currentLossRange;
                            maxLossRangeStartPoint = currentLossRangeStartPoint;
                            maxLossRangeStartDate = currentLossRangeStartDate;
                            maxLossRangeEndDate = value.dailyPrice.date;
                        }
                    }
                    dailyPercentageBalance.push(percentageBalance);
                    dailyBudgetFactor.push(budgetFactor);
                    dailyBudgetFactorLevel.push(budgetFactorLevel);
                    maxBalance = Math.max(maxBalance, value.balance);
                    minBalance = Math.min(minBalance, value.balance);
                    lastBalance = value.balance;
                    var date = new Date(value.dailyPrice.date);
                    var year = date.getFullYear();
                    if (year !== yesterdayYear) {
                        if (yesterdayYear !== 0) {
                            var yearEndBalance = report[index - 1].balance;
                            if (report[index - 1].contract) {
                                yearEndBalance += (report[index - 1].dailyPrice.closePrice - report[index - 1].contract.price) * report[index - 1].contract.unit * report[index - 1].contract.direction;
                            }
                            annualProfits[yesterdayYear] = { profit: yearEndBalance - lastYearEndBalance };
                            annualProfits[yesterdayYear].profitPercentage = annualProfits[yesterdayYear].profit / lastYearStartPrice;
                            annualProfits[yesterdayYear].profitPercentageWithSameBudget = percentageBalance - lastYearPercentageBalance;
                            lastYearPercentageBalance = percentageBalance;
                            lastYearEndBalance = yearEndBalance;
                            lastYearStartPrice = report[index - 1].dailyPrice.closePrice;
                        }
                        yesterdayYear = year;
                    }
                    if (value.contract && value.contract.unit > maxUnit) {
                        maxUnit = value.contract.unit;
                    }

                    if (value.closeTransaction && index > 0) {
                        if (report[index].balance > report[index - 1].balance) {
                            totalProfitContractDays += currentContractDays;
                            profitCount++;
                            if (currentContractDays >= longestProfitDays) {
                                longestProfitDays = currentContractDays;
                                longestProfitDaysStartDate = currentContractDaysStartDate;
                                longestProfitDaysEndDate = report[index - 1].dailyPrice.date;
                            }
                        } else {
                            totalLossContractDays += currentContractDays;
                            lossCount++;
                            if (currentContractDays >= longestLossDays) {
                                longestLossDays = currentContractDays;
                                longestLossDaysStartDate = currentContractDaysStartDate;
                                longestLossDaysEndDate = report[index - 1].dailyPrice.date;
                            }
                        }
                        currentContractDays = 0;
                    }
                    if (value.openTransaction) {
                        currentContractDaysStartDate = value.dailyPrice.date;
                    }
                    if (value.contract) {
                        currentContractDays++;
                    }
                });

                var endDate = new Date(report[report.length - 1].dailyPrice.date);
                var endYear = endDate.getFullYear();
                annualProfits[endYear] = { profit: report[report.length - 1].balance - lastYearEndBalance }
                annualProfits[endYear].profitPercentage = annualProfits[endYear].profit / lastYearStartPrice;
                annualProfits[endYear].profitPercentageWithSameBudget = percentageBalance - lastYearPercentageBalance;
                endBalance = report[report.length - 1].balance;
                averageBalance = endBalance / report.length;
            }

            var totalProfitPercentage = 0;
            $.each(annualProfits, function(key, value) {
                totalProfitPercentage += value.profitPercentage;
            });
            var averageAnnualProfitPercentage = totalProfitPercentage / Object.keys(annualProfits).length;

            var daysInYear = 245;
            var yearCount = report.length / daysInYear;

            var summaryText =
                '下一交易日：' + report[report.length - 1].nextTransaction + "<br/>" +
                    '每笔交易本金相同：' +
                    '最终盈利倍数：' + percentageBalance +
                    ' 最终盈利（初始25000）：' + 25000 * percentageBalance +
                    '，年化盈利倍数：' + (budgetChangeFactor === 1 ? percentageBalance / yearCount : Math.pow(percentageBalance, 1 / yearCount)) +
                    '，最大亏损倍数区间：' + maxLossRange + "（" + formatDate(maxLossRangeStartDate) + " - " + formatDate(maxLossRangeEndDate) + "）" +
                    '，最长盈利持仓日：' + longestProfitDays + '(' + formatDate(longestProfitDaysStartDate) + " - " + formatDate(longestProfitDaysEndDate) + "）" +
                    '，最长亏损持仓日：' + longestLossDays + '(' + formatDate(longestLossDaysStartDate) + " - " + formatDate(longestLossDaysEndDate) + "）" +
                    '，当前持仓日：' + currentContractDays +
                    '，最长空仓日：' + longestEmptyDays + '(' + formatDate(longestEmptyDaysStartDate) + " - " + formatDate(longestEmptyDaysEndDate) + "）" +
                    '，当前空仓日：' + currentEmptyDays +
                    '，空仓次数：' + emptyCount +
                    '，平均盈利持仓日：' + totalProfitContractDays / profitCount +
                    '，平均亏损持仓日：' + totalLossContractDays / lossCount +
                    '，盈利次数：' + profitCount +
                    '，亏损次数：' + lossCount +
                    '<br/><br/>最终盈利：' + endBalance +
                    '，总盈利百分比：' + totalProfitPercentage * 100 + '%' +
                    '，年均盈利百分比：' + averageAnnualProfitPercentage * 100 + '%' +
                    '，日均盈利：' + averageBalance +
                    '，最大份数：' + maxUnit +
                    '，最大盈利：' + maxBalance +
                    '，最小盈利：' + minBalance +
                    '，最大单日盈利：' + maxSingleDelta + '(' + formatDate(maxSingleDeltaDate) + ')' +
                    '，最大单日亏损：' + minSingleDelta + '(' + formatDate(minSingleDeltaDate) + ')' +
                    '，最大单日盈利比例：' + maxSinglePercentageDelta * 100 + '% (' + formatDate(maxSinglePercentageDeltaDate) + ')' +
                    '，最大单日亏损比例：' + minSinglePercentageDelta * 100 + '% (' + formatDate(minSinglePercentageDeltaDate) + ')';
            summaryText += '<br/><br/>每笔交易本金相同时各年盈利倍数<br/>';
            $.each(annualProfits, function(key, value) {
                summaryText += key + '盈利倍数：' + value.profitPercentageWithSameBudget + '&nbsp;&nbsp;&nbsp;';
            });
            summaryText += '<br/><br/>每笔交易本金相同时各年盈利（初始资金25000）<br/>';
            $.each(annualProfits, function (key, value) {
                summaryText += key + '盈利：' + 25000 * value.profitPercentageWithSameBudget + '&nbsp;&nbsp;&nbsp;';
            });
            summaryText += '<br/><br/>';
            $.each(annualProfits, function(key, value) {
                summaryText += key + '盈利：' + value.profit + '(' + value.profitPercentage * 100 + '%)' + '&nbsp;&nbsp;&nbsp;';
            });

            $('#summary').html(summaryText);

            $('#chart').highcharts({
                chart: {
                    zoomType: 'x',
                    resetZoomButton: {
                        position: {
                            align: 'right', // by default
                            verticalAlign: 'top', // by default
                            x: -10,
                            y: 10
                        },
                        relativeTo: 'chart'
                    }
                },
                title: {
                    text: $("#SelectedProductName").val()
                },
                xAxis: [
                    {
                        categories: categories,
                        crosshair: true
                    }
                ],
                yAxis: [
                    {
                        // Primary yAxis
                        title: {
                            text: '盈亏',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value}元',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }
                    }, {
                        // Secondary yAxis
                        labels: {
                            format: '{value}元',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        title: {
                            text: '价格',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        opposite: true
                    }
                ],
                tooltip: {
                    shared: true
                },
                series: [
                    {
                        name: '合约价格',
                        type: 'column',
                        yAxis: 1,
                        data: contracts,
                        tooltip: {
                            valueSuffix: '元'
                        }

                    }, {
                        name: '盈亏',
                        type: 'spline',
                        data: balances,
                        tooltip: {
                            valueSuffix: '元'
                        }
                    },
                    {
                        name: '收盘价',
                        type: 'spline',
                        yAxis: 1,
                        data: prices,
                        tooltip: {
                            valueSuffix: '元'
                        }

                    }
                ]
            });
            $('#percentageChart').highcharts({
                chart: {
                    zoomType: 'x',
                    resetZoomButton: {
                        position: {
                            align: 'right', // by default
                            verticalAlign: 'top', // by default
                            x: -10,
                            y: 10
                        },
                        relativeTo: 'chart'
                    }
                },
                title: {
                    text: $("#SelectedProductName").val()
                },
                xAxis: [
                    {
                        categories: categories,
                        crosshair: true
                    }
                ],
                yAxis: [
                    {
                        // Primary yAxis
                        title: {
                            text: '盈亏',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[0]
                            }
                        }
                    },
                    {
                        // Secondary yAxis
                        title: {
                            text: '成本系数',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[1]
                            }
                        }
                    },
                    {
                        // Secondary yAxis
                        title: {
                            text: '成本系数等级',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        labels: {
                            format: '{value}',
                            style: {
                                color: Highcharts.getOptions().colors[2]
                            }
                        },
                        opposite: true
                    }
                ],
                tooltip: {
                    shared: true
                },
                series: [
                    {
                        name: '盈亏',
                        type: 'spline',
                        data: dailyPercentageBalance
                    },
                    {
                        name: '成本系数',
                        type: 'spline',
                        data: dailyBudgetFactor
                    },
                    {
                        name: '成本系数等级',
                        type: 'spline',
                        data: dailyBudgetFactorLevel,
                        yAxis: 2
                    }
                ]
            });
        }

        //var settings = {
        //    '热轧卷板': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.16,
        //        OpenCriteria: 0.01,
        //        FollowTrend: true
        //    },
        //    '铝': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.1,
        //        OpenCriteria: 0.01,
        //        FollowTrend: false
        //    },
        //    '黄金': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.06,
        //        OpenCriteria: 0.01,
        //        FollowTrend: true
        //    },
        //    '锌': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.12,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    '铜': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.03,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.09,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    '螺纹钢': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.13,
        //        OpenCriteria: 0.01,
        //        FollowTrend: true
        //    },
        //    '铅': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.05,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.09,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    '白银': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.03,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '沥青': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.03,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.1,
        //        OpenCriteria: 0.02,
        //        FollowTrend: true
        //    },
        //    '锡': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.06,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '镍': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.06,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '菜籽': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.11,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '硅铁': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.09,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    '锰硅': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.14,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '强麦': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.17,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '橡胶': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.07,
        //        OpenCriteria: 0.01,
        //        FollowTrend: false
        //    },
        //    '玻璃': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.3,
        //        StartProfitCriteria: 0.14,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '醇': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.05,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '菜油': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.09,
        //        OpenCriteria: 0.05,
        //        FollowTrend: false
        //    },
        //    '菜粕': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.05,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    '白糖': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.09,
        //        OpenCriteria: 0.01,
        //        FollowTrend: false
        //    },
        //    'PTA': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.07,
        //        OpenCriteria: 0.01,
        //        FollowTrend: false
        //    },
        //    '动力煤': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.06,
        //        OpenCriteria: 0.01,
        //        FollowTrend: true
        //    },
        //    '豆一': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.08,
        //        OpenCriteria: 0.05,
        //        FollowTrend: false
        //    },
        //    '玉米': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.03,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.1,
        //        OpenCriteria: 0.05,
        //        FollowTrend: false
        //    },
        //    '玉米淀粉': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.1,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '铁矿石': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.13,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '焦炭': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.07,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '鸡蛋': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.02,
        //        StopProfitCriteria: 0.3,
        //        StartProfitCriteria: 0.04,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    '焦煤': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.03,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.12,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    '豆粕': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.03,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '棕榈': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.09,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    'PP': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.2,
        //        StartProfitCriteria: 0.04,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    },
        //    'PVC': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.07,
        //        OpenCriteria: 0.02,
        //        FollowTrend: false
        //    },
        //    '豆油': {
        //        TransactionFeeRate: 0.0008,
        //        StopLossCriteria: 0.01,
        //        StopProfitCriteria: 0.1,
        //        StartProfitCriteria: 0.08,
        //        OpenCriteria: 0.03,
        //        FollowTrend: false
        //    }
        //};

        var settings = {
            // 2016.09.08 - 2017.03.07
            // 2017.06.16 -
            '热轧卷板': {
                TransactionFeeRate: 0.00012,
                MinimumPriceUnit: 1,
                StopLossCriteria: 0.023,
                StopProfitCriteria: 0.12,
                StartProfitCriteria: 0.072,
                OpenCriteria: 0.009,
                FollowTrend: true,
                BudgetFactor: 1.49,
                BondPercentage: 13,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: true,
                OnlyUseClosePrice: false
            },
            //'螺纹钢': {
            //    TransactionFeeRate: 0.00012,
            //    MinimumPriceUnit: 1,
            //    StopLossCriteria: 0.02,
            //    StopProfitCriteria: 0.05,
            //    StartProfitCriteria: 0.117,
            //    OpenCriteria: 0.005,
            //    FollowTrend: true,
            //    BudgetFactor: 1.82,
            //    BondPercentage: 13,
            //    NeverEnterAmbiguousState: false,
            //    NotUseClosePrice: true,
            //    OnlyUseClosePrice: false
            //},
            '螺纹钢': {
                TransactionFeeRate: 0.00012,
                MinimumPriceUnit: 1,
                StopLossCriteria: 0.018,
                StopProfitCriteria: 0.08,
                StartProfitCriteria: 0.137,
                OpenCriteria: 0.006,
                FollowTrend: false,
                BudgetFactor: 1.64,
                BondPercentage: 14,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: true,
                OnlyUseClosePrice: false
            },
            //'焦炭': {
            //    TransactionFeeRate: 0.000864,
            //    MinimumPriceUnit: 0.5,
            //    StopLossCriteria: 0.014,
            //    StopProfitCriteria: 0.18,
            //    StartProfitCriteria: 0.164,
            //    OpenCriteria: 0.02,
            //    FollowTrend: false,
            //    BudgetFactor: 1.89,
            //    BondPercentage: 13
            //},
            // 2017.06.01 -
            '焦炭': {
                TransactionFeeRate: 0.00008,
                MinimumPriceUnit: 0.5,
                StopLossCriteria: 0.014,
                StopProfitCriteria: 0.03,
                StartProfitCriteria: 0.148,
                OpenCriteria: 0.027,
                FollowTrend: false,
                BudgetFactor: 1.54,
                BondPercentage: 15,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '焦煤': {
                TransactionFeeRate: 0.00008,
                MinimumPriceUnit: 0.5,
                StopLossCriteria: 0.033,
                StopProfitCriteria: 0,
                StartProfitCriteria: 0.042,
                OpenCriteria: 0.026,
                FollowTrend: true,
                BudgetFactor: 1.48,
                BondPercentage: 15,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '镍': {
                MinimumPriceUnit: 10,
                TransactionFeeRate: 0.00006,
                StopLossCriteria: 0.03,
                StopProfitCriteria: 0.07,
                StartProfitCriteria: 0.033,
                OpenCriteria: 0.028,
                FollowTrend: false,
                BudgetFactor: 1.22,
                BondPercentage: 13,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '菜粕': {
                TransactionFeeRate: 0.000078,
                StopLossCriteria: 0.027,
                StopProfitCriteria: 0.04,
                StartProfitCriteria: 0.056,
                OpenCriteria: 0.032,
                FollowTrend: false,
                BudgetFactor: 1.37,
                BondPercentage: 12,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            'PP': {
                TransactionFeeRate: 0.00008,
                StopLossCriteria: 0.027,
                StopProfitCriteria: 0.11,
                StartProfitCriteria: 0.054,
                OpenCriteria: 0.008,
                FollowTrend: false,
                BudgetFactor: 1.27,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: true,
                OnlyUseClosePrice: true
            },
            // 2017.03.07 -
            '热轧卷板20170307-20170616': {
                TransactionFeeRate: 0.00012,
                MinimumPriceUnit: 1,
                StopLossCriteria: 0.013,
                StopProfitCriteria: 0.03,
                StartProfitCriteria: 0.079,
                OpenCriteria: 0.015,
                FollowTrend: true,
                BudgetFactor: 1.55,
                BondPercentage: 14,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            // 2017.02.07 - 2017.06.01
            '焦炭20170207-20170601': {
                TransactionFeeRate: 0.00014,
                MinimumPriceUnit: 0.5,
                StopLossCriteria: 0.012,
                StopProfitCriteria: 0.02,
                StartProfitCriteria: 0.149,
                OpenCriteria: 0.004,
                FollowTrend: false,
                BudgetFactor: 1.91,
                BondPercentage: 15,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '焦煤20161227-20170620': {
                TransactionFeeRate: 0.00014,
                MinimumPriceUnit: 0.5,
                StopLossCriteria: 0.009,
                StopProfitCriteria: 0.01,
                StartProfitCriteria: 0.032,
                OpenCriteria: 0.019,
                FollowTrend: false,
                BudgetFactor: 1.48,
                BondPercentage: 15,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '铝': {
                TransactionFeeRate: 0.000236,
                MinimumPriceUnit: 5,
                StopLossCriteria: 0.019,
                StopProfitCriteria: 0.16,
                StartProfitCriteria: 0.127,
                OpenCriteria: 0.012,
                FollowTrend: true,
                BudgetFactor: 1.94,
                BondPercentage: 9,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '黄金': {
                TransactionFeeRate: 0.000047,
                StopLossCriteria: 0.01,
                StopProfitCriteria: 0.2,
                StartProfitCriteria: 0.06,
                OpenCriteria: 0.01,
                FollowTrend: false,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 0.01,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '锌': {
                TransactionFeeRate: 0.000048,
                StopLossCriteria: 0.03,
                StopProfitCriteria: 0.2,
                StartProfitCriteria: 0.07,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 5,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '铜': {
                TransactionFeeRate: 0.00006,
                StopLossCriteria: 0.02,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.076,
                OpenCriteria: 0.018,
                FollowTrend: false,
                BondPercentage: 12,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 10,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '铅': {
                TransactionFeeRate: 0.000048,
                StopLossCriteria: 0.015,
                StopProfitCriteria: 0.11,
                StartProfitCriteria: 0.078,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BondPercentage: 10,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 5,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '白银': {
                TransactionFeeRate: 0.00006,
                StopLossCriteria: 0.017,
                StopProfitCriteria: 0.17,
                StartProfitCriteria: 0.03,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BondPercentage: 12,
                BudgetFactor: 1.24,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '沥青': {
                TransactionFeeRate: 0.00012,
                StopLossCriteria: 0.02,
                StopProfitCriteria: 0.24,
                StartProfitCriteria: 0.068,
                OpenCriteria: 0.017,
                FollowTrend: false,
                BondPercentage: 13,
                BudgetFactor: 1.46,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 2,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '锡': {
                MinimumPriceUnit: 10,
                TransactionFeeRate: 0.000032,
                StopLossCriteria: 0.02,
                StopProfitCriteria: 0.13,
                StartProfitCriteria: 0.054,
                OpenCriteria: 0.017,
                FollowTrend: false,
                BudgetFactor: 1.53,
                BondPercentage: 10,
                NeverEnterAmbiguousState: false,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '菜籽': {
                TransactionFeeRate: 0.000061,
                StopLossCriteria: 0.03,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.11,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 10,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '硅铁': {
                TransactionFeeRate: 0.00017,
                StopLossCriteria: 0.005,
                StopProfitCriteria: 0.2,
                StartProfitCriteria: 0.09,
                OpenCriteria: 0.01,
                FollowTrend: false,
                BudgetFactor: 1.8,
                BondPercentage: 9,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 2,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '锰硅': {
                TransactionFeeRate: 0.000135,
                StopLossCriteria: 0.005,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.39,
                OpenCriteria: 0.03,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 9,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 2,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '强麦': {
                TransactionFeeRate: 0.000056,
                StopLossCriteria: 0.02,
                StopProfitCriteria: 0.2,
                StartProfitCriteria: 0.17,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 9,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '橡胶': {
                TransactionFeeRate: 0.000054,
                StopLossCriteria: 0.01,
                StopProfitCriteria: 0.2,
                StartProfitCriteria: 0.07,
                OpenCriteria: 0.01,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 13,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 5,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '玻璃': {
                TransactionFeeRate: 0.00018,
                StopLossCriteria: 0.005,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.19,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 9,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '醇': {
                TransactionFeeRate: 0.000086,
                StopLossCriteria: 0.01,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.2,
                OpenCriteria: 0.03,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '菜油': {
                TransactionFeeRate: 0.00005,
                StopLossCriteria: 0.02,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.09,
                OpenCriteria: 0.05,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 10,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 2,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '白糖': {
                TransactionFeeRate: 0.000064,
                StopLossCriteria: 0.025,
                StopProfitCriteria: 0.2,
                StartProfitCriteria: 0.08,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 10,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            'PTA': {
                TransactionFeeRate: 0.000015,
                StopLossCriteria: 0.04,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.2,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 12,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '动力煤': {
                TransactionFeeRate: 0.00013,
                StopLossCriteria: 0.01,
                StopProfitCriteria: 0.2,
                StartProfitCriteria: 0.06,
                OpenCriteria: 0.01,
                FollowTrend: true,
                BudgetFactor: 1.41,
                BondPercentage: 12,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 0.2,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '豆一': {
                TransactionFeeRate: 0.00007,
                StopLossCriteria: 0.02,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.08,
                OpenCriteria: 0.05,
                FollowTrend: false,
                BudgetFactor: 1.87,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '玉米': {
                TransactionFeeRate: 0.000095,
                StopLossCriteria: 0.03,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.1,
                OpenCriteria: 0.05,
                FollowTrend: false,
                BudgetFactor: 1.41,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '玉米淀粉': {
                TransactionFeeRate: 0.000091,
                StopLossCriteria: 0.005,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.17,
                OpenCriteria: 0.06,
                FollowTrend: false,
                BudgetFactor: 1.87,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '铁矿石': {
                TransactionFeeRate: 0.00036,
                StopLossCriteria: 0.005,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.08,
                OpenCriteria: 0.03,
                FollowTrend: false,
                BudgetFactor: 1.87,
                BondPercentage: 12,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 0.5,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '鸡蛋': {
                TransactionFeeRate: 0.00018,
                StopLossCriteria: 0.018,
                StopProfitCriteria: 0.05,
                StartProfitCriteria: 0.023,
                OpenCriteria: 0.026,
                FollowTrend: false,
                BudgetFactor: 1.21,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '豆粕': {
                TransactionFeeRate: 0.000073,
                StopLossCriteria: 0.01,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.03,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BudgetFactor: 1.87,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 1,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '棕榈': {
                TransactionFeeRate: 0.000054,
                StopLossCriteria: 0.015,
                StopProfitCriteria: 0.2,
                StartProfitCriteria: 0.21,
                OpenCriteria: 0.03,
                FollowTrend: true,
                BudgetFactor: 1.87,
                BondPercentage: 9,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 2,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            //'PP': {
            //    TransactionFeeRate: 0.00029,
            //    StopLossCriteria: 0.012,
            //    StopProfitCriteria: 0.12,
            //    StartProfitCriteria: 0.128,
            //    OpenCriteria: 0.054,
            //    FollowTrend: false,
            //    BudgetFactor: 2.28,
            //    BondPercentage: 11,
            //    NeverEnterAmbiguousState: false,
            //    MinimumPriceUnit: 1
            //},
            'PVC': {
                TransactionFeeRate: 0.00008,
                StopLossCriteria: 0.01,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.07,
                OpenCriteria: 0.02,
                FollowTrend: false,
                BudgetFactor: 1.87,
                BondPercentage: 11,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 5,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            },
            '豆油': {
                TransactionFeeRate: 0.000033,
                StopLossCriteria: 0.01,
                StopProfitCriteria: 0.1,
                StartProfitCriteria: 0.08,
                OpenCriteria: 0.03,
                FollowTrend: false,
                BudgetFactor: 1.87,
                BondPercentage: 9,
                NeverEnterAmbiguousState: false,
                MinimumPriceUnit: 2,
                NotUseClosePrice: false,
                OnlyUseClosePrice: false
            }
        };

        $('#SelectedProductName').change(function() {
            setDefaultSettings();
        });

        function setDefaultSettings() {
            var attribute = $('#SelectedProductName')[0].selectedOptions[0].attributes['data-setting'];
            var selectedProductName = attribute ? attribute.value : $('#SelectedProductName').val();
            if (settings[selectedProductName]) {
                $('#TransactionFeeRate').val(settings[selectedProductName].TransactionFeeRate);
                $('#MinimumPriceUnit').val(settings[selectedProductName].MinimumPriceUnit);
                $('#StopLossCriteria').val(settings[selectedProductName].StopLossCriteria);
                $('#StopProfitCriteria').val(settings[selectedProductName].StopProfitCriteria);
                $('#StartProfitCriteria').val(settings[selectedProductName].StartProfitCriteria);
                $('#OpenCriteria').val(settings[selectedProductName].OpenCriteria);
                $('#BondPercentage').val(settings[selectedProductName].BondPercentage);
                $('#FollowTrend').prop('checked', settings[selectedProductName].FollowTrend);
                $('#NeverEnterAmbiguousState').prop('checked', settings[selectedProductName].NeverEnterAmbiguousState);
                $('#NotUseClosePrice').prop('checked', settings[selectedProductName].NotUseClosePrice);
                $('#OnlyUseClosePrice').prop('checked', settings[selectedProductName].OnlyUseClosePrice);
                if (settings[selectedProductName].BudgetFactor) {
                    $('#BudgetFactor').val(settings[selectedProductName].BudgetFactor);
                }
            }
        }

        function formatDate(date) {
            return (new Date(date)).toLocaleDateString();
        }

        //$('#optimize').click(function (event) {
        //    event.preventDefault();
        //    var $inputs = $('#form input');
        //    var values = {};
        //    $inputs.each(function() {
        //        values[this.name] = $(this).val();
        //    });
        //    values['SelectedProductName'] = $('#SelectedProductName').val();
        //    values['FollowTrend'] = $('#FollowTrend')[0].checked;
        //    $.post('home/optimize', values, function(data) {
        //        $('#chart').hide();
        //        var optimizationResult = '优化结果<br/>止损点：' + data.StopLossCriteria + '，止盈点：' + data.StopProfitCriteria + '，起盈点：' + data.StartProfitCriteria + '，开仓点：' + OpenCriteria + '，开仓顺势：' + data.FollowTrend;
        //        $('#summary').html(optimizationResult);
        //    });
        //});
    </script>
}